.header {
    width: 100vw;
    height: 50px;
    background-color: var(--primary-blue-color);
    padding: 0 30px;
    color: var(--white);
    font-size: var(--text-xl);
    display: flex;
    align-items: center;
}
