// Colors
:root {
    --background-gray-color: #F5F5F5;
    --purple-color: #6200EE;
    --gray-color: #CFD8DC;
    --light-purple-color: #BB86FC;
    --primary-blue-color: #3700B3;
    --white: #fff;
    --black: #000;
  }

// Fonts
:root {
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
}